{% extends 'dashboard/base.html' %}

{% block title %} {{ model }} | Detail  {% endblock %}
{% block content %}






<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{ model }}</h1>
    <p class="mb-4">If there was a problem or need to upgrade your dashboard contact with developer</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">View {{ model }}s</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ root.id }}</td>
                        </tr>
                        <tr>
                            <td>Is Active</td>
                            <td>{{ root.is_active }}</td>
                        </tr>

                        {% for i, j in root.title.items %}
                        <tr>
                            <td>Title ({{ i }}) </td>
                            <td>{{ j }}</td>
                        </tr>
                        {% endfor %}
                        {% for i, j in root.desc.items %}

                        <tr>
                            <td>About Why ({{ i }})</td>
                            <td>{{ j }}</td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td>Image</td>
                            <td><img src="{{ root.img.url }}" alt="{{ root.img.url }}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="my-2"></div>
        <a href="{% url 'why_edit' pk=root.id %}" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Edit</span>
        </a>

            <a class="btn btn-danger btn-icon-split" href="" data-toggle="modal" data-target="#delete_{{ root.id }}">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">Delete</span>
        </a>

        <a href="{% url 'why' %}" class="btn btn-secondary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Return to list</span>
        </a>

    </div>
    </div>
</div>









<div class="modal fade" id="delete_{{ root.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Are you sure to delete {{ root }}</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'why_del' pk=root.id %}">yes</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}







